---
import { Content as Specification } from '../../../README.md'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/style.css" />
    <title>The Autograph Protocol</title>
  </head>
  <body>
    <main>
      <article>
        <Specification />
      </article>
    </main>
  </body>
</html>
