# Miscellaneous files
.DS_Store
._*
*~
*.log
*.tgz

# IDE-specific files
.vscode/
*.xcodeproj

# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out

# C++-specific files
build/
cplusplus/build/
cplusplus/bin/
cplusplus/lib/
.cmake/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
install_manifest.txt

# Swift-specific files
.build/
.swiftpm/
swift/.build/
swift/Packages/
swift/xcuserdata/
swift/DerivedData/
swift/.swiftpm/config/registries.json
swift/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
swift/.netrc

# TypeScript-specific files
coverage/
dist/
node_modules/

# generated types
.astro/

# environment variables
.env
.env.production
