[submodule "cplusplus/catch2"]
	path = cplusplus/catch2
	url = https://github.com/catchorg/Catch2
[submodule "c/libsodium"]
	path = c/libsodium
	url = https://github.com/jedisct1/libsodium
	branch = stable
